body, html {
  height: 100%;
  margin: 0;
  background-color: #d6d6d6;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/rogatica-panoramic-view.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  background-color: #0cbaa6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.hero-text button:hover {
  background-color: darkcyan;
  color: white;
}

.hero-text button a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

.highlight {
  color: #0cbaa6;
}

/* nav bar */

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
  border-right: 1px solid #bbb;
}

.nav li:last-child {
  border-right: none;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #0cbaa6;
  color: #111;
}

a{
  text-decoration: none;
  color: #0cbaa6;
}

